<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Login</h2>
  <h5>To create a new account, Press the Sign Up button below.</h5>
  <h5>You can enter as a Guest, Press the Guest button below.</h5>
  <form>
    <div class="form-group">
      <label for="email">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="button" class="btn btn-primary">Sign In</button>
    <button type="button" class="btn btn-success">Sign Up</button>
    <button type="button" class="btn btn-danger">Guest</button>
  </form>
</div>

</body>
</html>
